/* CSS declarations go here */

body { background: #F5F5F5; padding-bottom: 50px; }
h1 { text-align: center; }
li { line-height: 20px; list-style-type: none; padding: 10px; padding: 5px 10px; font-size: 16px; }
ul {
  background: white;
  margin: 0;
  padding: 10px;
  height: 400px;
  overflow: scroll;
  border: 1px solid #E2E2E2;
  border-bottom: 1px solid #D2D2D2;
}
input { margin: 7px 10px 0 0; width: 224px !important; }
.input-bar { background: #E6E6E6; padding: 2px 0 0 12px; }
